{% extends 'layout.html' %} 

{% block titre %}
    Administration 
{% endblock %} 

{% block nav %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin/">Serrure Pannel Gestion</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto my-2 my-lg-0"></ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/porte/">Ouverture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Administration</a>
                </li>
		<li class="nav-item">
 		    <a class="nav-link" href="/admin/add">Utilisateur +</a>
		<li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_logout') }}">Déconnexion <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

{% endblock %}

{% block body %}
    
    <div class="container test2">
	<div class="row">
		<div class="col-md-12">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Ajout utilisateur</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <form action="" method="POST">
                              <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email</label> 
                                <div class="col-8">
                                  <input name="email" id="email" placeholder="Email" required="required" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">Prénom</label> 
                                <div class="col-8">
                                  <input name="name" id="name" placeholder="Prénom" required="required" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label">Nom</label> 
                                <div class="col-8">
                                  <input name="lastname" id="lastname" placeholder="Nom" required="required" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="rfid" class="col-4 col-form-label">Tag RFID</label> 
                                <div class="col-8">
                                  <input name="rfid" id="rfid" placeholder="RFID" required="required" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="password" class="col-4 col-form-label">Mot de passe</label> 
                                <div class="col-8">
                                  <input id="password" name="passwod" placeholder="Mot de passe" required="required" class="form-control here" required="required" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="rfid" class="col-4 col-form-label">Date de création</label>
                                <div class="col-8">
                                  <input name="date" id="date" placeholder="2018-06-03" required="required" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="admin" class="col-4 col-form-label">Administrateur</label>
                                <div class="col-8">
                                  <input id="admin" name="admin" placeholder="0=Non 1=Oui" required="required" class="form-control here" required="required" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn btn-primary" value="Ajouter">Ajouter un utilisateur</button>
                                </div>
                              </div>
                            </form>
		        </div>
		     </div>  
                  </div>
               </div> 
            </div>
	 </div>
      </div>

{% endblock %}
